body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
div.info.legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white; /* Set the background color to white */
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 1000;
}

/* Style for the legend title */
div.info.legend h3 {
  text-align: center;
  margin: 0;
}

/* Styles for the color squares in the legend */
div.info.legend i {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}
